@model WebChat.Models.ViewModels.UserChatRoomViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p id="userInput">@Model.UserName</p>
                    <input type="text" id="messageInput" />
                    <input type="button" id="sendButton" value="Send" class="btn btn-default" />
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-6">&nbsp;</div>
                        <div class="col-6">
                            <ul id="messagesList"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


