@model WebChat.Models.ViewModels.UserChatRoomViewModel

<div class="container">
    <div class="row">
        <div class="col-md-3">
            List of Users:
            <br />
            @foreach (var item in Model.Users)
            {
                <a href="#" class="btn btn-default btn-sm" active" role="button" aria-pressed="true">@item.Name</a>
                <br />
            }
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p id="userInput">@Model.UserName</p>
                    <div class="form-group">
                        <label for="inputAddress">Message</label>
                        <input type="text" class="form-control" id="messageInput" placeholder="Please type your message">
                        <input type="button" id="sendButton" value="Send" class="btn btn-primary" />
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-6">&nbsp;</div>
                        <div class="col-6">
                            <ul id="messagesList"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

